/* Form Components */
.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.form-input {
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-gray);
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.form-label {
  font-weight: var(--font-weight-small);
  color: var(--color-text-primary);
}
.settings-label {
  font-size: var(--font-xl);
  color: var(--color-text-primary);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  max-width: 600px;
  margin: 0 auto;
  padding: var(--spacing-lg);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

/* Navigation Components */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav > div {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-button,
.add-button,
.cancel-button {
  background: var(--color-black);
  color: white;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: var(--radius-lg);
  text-decoration: none;
  transition: var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  font-size: 2rem;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-md);
}

.nav-button:hover,
.add-button:hover,
.cancel-button:hover {
  background: var(--color-gray);
  color: var(--color-black);
}

.cancel-button {
  width: auto;
  padding: 0 1rem;
}

/* Day Navigation */
.navigation {
  display: flex;
  width: 100%;
  gap: var(--spacing-xs);
  margin: 10px auto;
  box-sizing: border-box;
  max-width: 800px;
}

.navigation button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  color: var(--color-text-primary);
  border: solid 1px var(--color-black);
  border-radius: var(--radius-full);
  cursor: pointer;
  transition: var(--transition-base);
  flex: 1 1 0;
  aspect-ratio: 1 / 1.5;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
}

.navigation button:hover {
  background: var(--color-black);
  color: white;
}

.navigation .day-button {
  background: var(--color-lime);
  color: black;
  border: none;
  display: flex;
}

.day-number {
  font-weight: var(--font-weight-large);
}

.day-button:hover:not(.active) {
  background: var(--color-black);
  color: white;
  transform: translateY(-6px);
  box-shadow: var(--shadow-md);
}

.day-button.future {
  background: var(--color-gray);
}

.day-button.active {
  background: var(--color-black);
  color: white;
}
